extends home 

block navHeader 
    include _navHeader

block mainPage
    main
        -if(booking.bookingStatus === 'Completed' && booking.review.length > 0)
            section.booking-detail--review-section
                .container.review--container
                    .div-review--container
                        img.review-profile-photo(src=`/Frontend/img/customers/${booking.client.profileImg}` alt='Photo of client')
                        .review--second-part
                            .review-name-part
                                p.review-name #{booking.client.name}
                            p.review-description= `"${booking.review[0].review}"`
                            .profile-rating.review-star-rating
                                .profile-stars
                                    .star-rating-num #{booking.review[0].starRating}
                                    .profile-star-rating(style=`--star-rating: ${booking.review[0].starRating}`)
                            .review-id-info
                                div
                                    .star-rating-num.sm-label Client No
                                    span.num-of-ratings.clientId-num-of-ratings #{booking.clientId._id}
                                div
                                    .star-rating-num.sm-label Booking No
                                    span.num-of-ratings.clientId-num-of-ratings #{booking._id}

        section(class=`${booking.bookingStatus === 'Completed' ? 'booking-details-section review--booking-details-section' : 'pass-reset-token--section'}`)
            .container
                .div-secondary-container
                    .view-booking--header.view-hairdresser--booking-detail
                        h2.secondary-heading.confirmation-heading.booking-detail--heading
                            | Booking ID - ##{booking.id}
                    .mid-div
                        .detail-part
                            p.step-work-description.booking-req--description An email of this booking verification had previously been sent to your email at:
                                br
                                span.span-email=`< ${booking.hairdresser.email} >`
                            p.token-reset--description2.booking-detail(data-bookingId=booking.id)
                                strong Booking Id
                                |  - #{booking.id}
                            .booking-info--split
                                p.token-reset--description2.booking-detail
                                    strong Appointment address:
                                    br
                                    | #{address}
                                p.token-reset--description2.booking-detail
                                    strong Appointment date:
                                    |  #{booking.startDateTime.toLocaleString("en-GB").split(',')[0]}
                                    br
                                    | Time: #{booking.startDateTime.toLocaleString("en-GB").substring(12, 17)} - #{booking.endDateTime.toLocaleString("en-GB").substring(12, 17)}
                            p.token-reset--description2.booking-detail-title
                                strong Featured Services:
                            each service in booking.services
                                .booked-service-amount
                                    p.token-reset--description2.booking-detail #{service.serviceName}
                                    p.token-reset--description2.booking-detail £#{service.servicePrice}
                            -if(booking.routeTo == 'client')
                                p.token-reset--description2
                                    strong Home Appointment:
                                .booked-service-amount
                                    p.token-reset--description2.booking-detail Cost:
                                    p.token-reset--description2.booking-detail £#{booking.homeAppointCost.toFixed(2)}
                                    
                            .booked-service-amount
                                p.token-reset--description2.booking-detail
                                    strong Total cost
                                p.token-reset--description2.booking-detail
                                    strong &pound;#{booking.totalPrice}    
                
                            .booking-detail--status-div
                                p.booking-deetail--status
                                    strong Booking Status: 
                                -if(booking.bookingStatus === 'Placed')
                                    p(class=`booking-deetail--status booking-status-color-${booking.bookingStatus}`) #{booking.bookingStatus} / Requested
                                -if(!(booking.bookingStatus === 'Placed'))
                                    p(class=`booking-deetail--status booking-status-color-${booking.bookingStatus}`) #{booking.bookingStatus}
                            .reset-confirmation--btns
                                -if(booking.bookingStatus === 'Placed')
                                    button.btn.accept-booking--btn Accept this Booking 
                                    button.btn.cancel-booking--btn Cancel this Booking
                                -if(booking.bookingStatus === 'Accepted')
                                    a.btn.btn--cta.margin-right-sm.go-back--btn(href='/my-appointments') View your bookings
                                    button.btn.complete-booking--btn Complete Appointment
                                -if(booking.bookingStatus === 'Cancelled')
                                    a.btn.btn--cta.margin-right-sm.go-back--btn(href='/my-appointments') View your bookings
                                -if(booking.bookingStatus === 'Completed')
                                    a.btn.btn--cta.margin-right-sm.go-back--btn(href='/my-appointments') View your bookings                                

                            -if(booking.bookingStatus === 'Placed')
                                a.btn.btn--cta.margin-right-sm.go-back--btn(href='/my-appointments') View your bookings
                        
                        .hairdresser-card.booked-hairdresser-card
                            .hairdresser-card-header
                                .card-profile
                                div(class=`card-profile--partition card-profile--partition-${booking.bookingStatus}`)
                                img.card-profile-photo.client-card-photo(src=`/Frontend/img/customers/${booking.client.profileImg}` alt='Profile Image of Client')
                                h3.card-name-heading
                                    span(class=`hairdresser-name--heading-${booking.bookingStatus}`)= booking.client.name
                                .profile-rating
                                    .profile-stars
                                        .star-rating-num= `Client No`
                                        //- .profile-star-rating(style=`--star-rating: ${booking.hairdresserId.starRating}`)
                                    span.num-of-ratings.clientId-num-of-ratings= `${booking.clientId}`
                                .distance-to-hairdresser
                                    span.material-icons.place-icon  place 
                                    .distance
                                        h3= `${booking.distance} miles`
                                        span.distance-msg away from you
                            .hairdresser-card-description
                                h4.hairdresser-description-heading Booking Details
                                p.hairdresser-description-text
                                    span.card-detail-desc Address
                                    | : #{address}
                                p.hairdresser-description-text
                                    span.card-detail-desc Date
                                    | : #{booking.startDateTime.toLocaleString("en-GB").split(',')[0]},
                                    span.card-detail-desc  Time:
                                    |  #{booking.startDateTime.toLocaleString("en-GB").substring(12, 17)} - #{booking.endDateTime.toLocaleString("en-GB").substring(12, 17)}
                                -if(booking.routeTo === 'hairdresser')
                                    p.hairdresser-description-text
                                        span.card-detail-desc Travel
                                        | : Client travels to hairdresser
                                -if(booking.routeTo === 'client')
                                    p.hairdresser-description-text
                                        span.card-detail-desc Travel
                                        | : Hairdresser travels to client
                            .hairdresser-card-services.booking-card-services
                                .horizontal-line
                                    h4.hairdresser-services-heading.booked-services-heading Booked Services
                                .hairdresser-services.hairdresser-services--price-items
                                    each service in booking.services
                                        .service-item--container
                                            .service-chip.booked-service-chip= `${service.serviceName}`
                                            span.material-icons.back-to-back compare_arrows
                                            p.booked-service-price &pound;#{service.servicePrice}
                                    //- .service-item--container
                                    //-     .service-chip.booked-service-chip service
                                    //-     span.material-icons.back-to-back compare_arrows
                                    //-     p.booked-service-price &pound;8.99
                                    //- .service-item--container
                                    //-     .service-chip.booked-service-chip Face mask
                                    //-     span.material-icons.back-to-back compare_arrows
                                    //-     p.booked-service-price &pound;12.99
                                    //- .service-item--container
                                    //-     .service-chip.booked-service-chip Skin Fadeddf
                                    //-     span.material-icons.back-to-back compare_arrows
                                    //-     p.booked-service-price &pound;8.99
                                    .service-item--container.total-cost--container
                                        p.booked-service-price Total Owed:
                                        p.booked-service-price &pound;#{booking.totalPrice}
                            .hairdresser_card-bottom
                                .card-details
                                    span.material-icons  history 
                                    span.booked--time-ago= `${booking.timeAgo}`
                                .card-details.direction.booked-details
                                    // <span class="material-icons"> compare_arrows </span>
                                    div(class=`${booking.bookingStatus}-status`)
                                    -if(booking.bookingStatus === 'Placed')
                                        span.booking-status #{booking.bookingStatus} / REQUESTED
                                    -if(!(booking.bookingStatus === 'Placed'))
                                        span.booking-status #{booking.bookingStatus}
                                //- .reset-confirmation--btns 
                                //-     button.btn.accpet-booking--btn Accept this Booking 
                                //-     button.btn.cancel-booking--btn Cancel this Booking
                                //- a.button.button--sml.button--blue(href=`/myClientBooking/${booking._id}`) View