extends homeEmail

block content
    p Dear #{firstName},
    - if(recepientFor === 'client')
        p You completed your appointment with #{bookingInfo.hairdresser.name.split(' ')[0]}, <br>Therefore you are eligible to leave a review & rating by clicking the link below.
    - if(recepientFor === 'hairdresser')
        p A client (#{bookingInfo.client.name}) has requested a booking appointment, <br>Please accept or decline the request to proceed.

    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Leave a Rating/Review
    p <strong>Booking Id - </strong>#{bookingInfo._id}
    p <strong>Appointment address:</strong> <br>#{address}
    p <strong>Appointment Date:</strong> #{bookingInfo.startDateTime.toLocaleString("en-GB").split(',')[0]} <br>Time: #{bookingInfo.startDateTime.toLocaleString("en-GB").substring(12, 17)} - #{bookingInfo.endDateTime.toLocaleString("en-GB").substring(12, 17)}
    span.selected-services <strong>Featured Services:</strong>
    .amount-elements
        each service in bookingInfo.services
            .service-name-amount
                span.service-el-name #{service.serviceName}
                span £#{service.servicePrice}

    -if(bookingInfo.routeTo == 'client')
        span.selected-services <strong>Home Appointment:</strong>
            .service-name-amount.home-appoint-reciept
                span.service-el-name Cost:
                span £#{bookingInfo.homeAppointCost.toFixed(2)}

    .total-price--container 
        span 
            strong Total cost: 
        span
            strong £#{bookingInfo.totalPrice}
    p - Hassan Aslam, CEO